* {
    margin: 0;
    padding-top: 0;
}

html {
    font-size: 10px;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: unset;
}

ul, ol {
    list-style-type: none;
}